*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(3, 3, 3);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212121;

}
.container{
    position: relative;
    border-radius: 50%;
    border: 10px solid #8f3232;
}
/* clock */
.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid rgb(114, 12, 114);
    background-color: rgb(199, 158, 193);
    box-shadow: 0px 0px 30px rgb(222, 98, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg* var(--i))); 
    inset: 12px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;

}
.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ffff;
    z-index: 2;

}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 8px;

}